
game/controllers/MainSupervisor/__pycache__/

game/controllers/robot0Controller/__pycache__/

world_gen/__pycache__/

world_gen/map.png

world_gen/generatedWorld.wbt

game/worlds/.*.wbproj

*.cache

game/protos/custom_robot.proto
game/protos/textures/targets/

game/controllers/robot0Controller/*
game/controllers/robot0Controller/robot0Controller.py
game/plugins/robot_windows/MainSupervisorWindow/thumbnails/2027_d1r2.png
game/plugins/robot_windows/MainSupervisorWindow/thumbnails/2027_d2r1.png
game/plugins/robot_windows/MainSupervisorWindow/thumbnails/2027_d2r2.png
game/worlds/2027_d1r2.wbt
game/worlds/2027_d2r1.wbt
game/worlds/2027_d2r2.wbt
